In [11]:
import pandas as pd
import ssl
import urllib.request
from sqlalchemy import create_engine

In [14]:
#Establish connection
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()
print("Connected to pgdatabase sucessfully.")

Connected to pgdatabase sucessfully.

In [15]:
url = "https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv"
ssl_contxt = ssl._create_unverified_context()

with urllib.request.urlopen(url, context=ssl_contxt) as response:
    df_zones = pd.read_csv(response)

In [16]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [17]:

df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265