In [7]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [4]:
table = pq.read_table('yellow_tripdata_2025-01.parquet')
df = table.to_pandas()
df.to_csv('yellow_tripdata_2025-01.csv', index= False)

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
engine.connect()

In [ ]:
# converts df to sql schema. imports the schema (was converted for postgres)
print(pd.io.sql.get_schema(df, name= 'yellow_tripdata_2025', con=engine))

CREATE TABLE yellow_tripdata_2025 (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [ ]:
# read and iterates csv in chunks
df_iter = pd.read_csv('yellow_tripdata_2025-01.csv', iterator=True, chunksize=100000)

In [17]:
df = next(df_iter)
len(df)

100000

In [ ]:
# inserts columns names
df.head(n=0).to_sql(name= 'yellow_taxi_data', con=engine, if_exists='replace')

0

In [20]:
%time df.to_sql(name= 'yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.23 s, sys: 263 ms, total: 5.49 s
Wall time: 9.42 s

1000

In [22]:
from time import time

In [23]:
while True:
    t_start = time()

    # use iterated df, to process each chunk
    df = next(df_iter)
    df.to_sql(name= 'yellow_taxi_data', con=engine, if_exists='append')

    t_end= time()

    # note: %.3f means 3 decimal float
    print('insert another chunk..., took %.3f second ' %(t_end - t_start))

insert another chunk..., took 8.659 second
insert another chunk..., took 8.382 second
insert another chunk..., took 9.144 second
insert another chunk..., took 10.474 second
insert another chunk..., took 8.891 second
insert another chunk..., took 8.662 second
insert another chunk..., took 8.575 second
insert another chunk..., took 9.037 second
insert another chunk..., took 8.814 second
insert another chunk..., took 9.071 second
insert another chunk..., took 8.582 second
insert another chunk..., took 8.755 second
insert another chunk..., took 8.697 second
insert another chunk..., took 8.854 second
insert another chunk..., took 8.641 second
insert another chunk..., took 8.730 second
insert another chunk..., took 9.081 second
insert another chunk..., took 9.105 second
insert another chunk..., took 8.630 second
insert another chunk..., took 8.646 second
insert another chunk..., took 8.955 second
insert another chunk..., took 8.538 second
insert another chunk..., took 9.061 second
insert another chunk..., took 8.751 second
insert another chunk..., took 9.239 second
insert another chunk..., took 9.012 second
insert another chunk..., took 8.716 second

/var/folders/m4/vjjhlr911dqff62k9ddhngjh0000gn/T/ipykernel_36699/3633002190.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

insert another chunk..., took 7.955 second
insert another chunk..., took 8.094 second
insert another chunk..., took 7.839 second
insert another chunk..., took 7.901 second
insert another chunk..., took 7.802 second
insert another chunk..., took 5.710 second

StopIteration: